@mixin view {
    width: 100%;
    height: 100%;
    background-color: $color-main-tint-03;
}

@mixin custom-scrollbar {
    &::-webkit-scrollbar {
        width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
        background: var(--color-gray-tint-03);
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--color-gray-tint-02);
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: var(--color-gray-tint-01);
    }
}

@mixin link {

    .link:link,
    .link:visited {
        text-decoration: none;
        color: $color-gray;
    }

    .link:hover,
    .link:active {
        color: $color-white;
    }
}

@mixin button {
    .btn {
        width: 6rem;
        height: 2rem;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 5px;
        box-shadow: $shadow;
        background-color: $color-main-tint-04;
        color: inherit;
        font-weight: bold;
        cursor: pointer;
    }

    .btn:hover,
    .btn:active {
        background-color: $color-main;
        color: $color-white;
    }

    .btn:active {
        box-shadow: $shadow-active;
    }

    .btn.btn--success {
        background-color: $color-success-tint-01;
    }

    .btn.btn--success:hover,
    .btn.btn--success:active {
        background-color: $color-success;
    }

    .btn.btn--critical {
        background-color: $color-critical-tint-01;
    }

    .btn.btn--critical:hover,
    .btn.btn--critical:active {
        background-color: $color-critical;
    }

    .btn:disabled,
    .btn:hover:disabled,
    .btn:active:disabled {
        background-color: $color-gray-tint-04;
        color: inherit;
        box-shadow: $shadow;
        cursor: default;
    }
}